@import "fonts.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #ffc400;
  --contrast-color: #252525;
  --light-color: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", "Verdana", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light-color);
  background: var(--contrast-color);
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

.section-title {
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.7;
  text-transform: uppercase;
}

.summary-info .section-title:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 75%;
  height: 1px;
  background: var(--light-color);
  opacity: 0.2;
}

.paragraph-title {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: var(--light-color);
  transition: color 0.5s;
  cursor: pointer;
}

button {
  border: 0;
  cursor: pointer;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background: var(--main-color);
}

.container-header {
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  position: relative;
  padding: 0 15px;
  font-weight: 700;
  color: var(--contrast-color);
  transition: 0.3s;
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 98%;
  height: 2px;
  background-color: var(--contrast-color);
  transform: scaleX(0);
  transition: transform 0.2s;
}

.nav-link:hover:after {
  transform: scaleX(0.8);
}

.main {
  flex-grow: 1;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px auto;
}

.profile-contacts {
  display: flex;
  margin: 20px 0;
}

.position {
  display: inline-block;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
}

.profile-list {
  flex-basis: 30%;
  line-height: 1.7;
}

.profile-item {
  list-style: none;
}

.profile-link:hover {
  text-decoration: underline;
  color: var(--main-color);
}

.profile-img {
  flex-basis: 20%;
}

.profile-text {
  flex-basis: 80%;
}

.skills {
  width: 35%;
  margin-right: 30px;
  border-right: 2px groove var(--light-color);
}

.skills-set {
  margin-bottom: 30px;
}

.skills-list {
  list-style: none;
}

.skills-list li {
  display: inline-block;
  margin: 5px 7px;
  padding: 3px 14px;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  color: var(--main-color);
}

.summary-info {
  width: 60%;
  margin-left: 20px;
}

.summary-paragraph {
  margin-bottom: 10px;
}

.experience-list-main,
.language-list {
  list-style: none;
}

.experience-list-main li {
  padding-left: 20px;
  background-image: url("../assets/img/icon-star.png");
  background-position: 0 4px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.experience-list {
  margin-left: 20px;
}

.main-education {
  margin-left: 20px;
}

.language-list li {
  margin-bottom: 10px;
  padding-left: 20px;
  background-image: url("../assets/img/icon-lang.png");
  background-position: 0 4px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.projects {
  margin: 20px 0;
}

.slides-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0 30px;
}

.slider {
  position: relative;
}

.slide {
  display: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.project-pic {
  display: block;
  width: 30%;
}

.project-pic img {
  border-radius: 5px;
}

.project-description {
  width: 60%;
}

.project-link {
  font-weight: 700;
  color: var(--main-color);
}

.project-link:hover {
  text-decoration: underline;
}

.active {
  display: flex;
}

.slider-btn {
  display: block;
  width: 80px;
  height: 40px;
  font-weight: 700;
  background: transparent;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  color: var(--main-color);
  outline: none;
}

.slider-btn:hover {
  background: var(--main-color);
  color: var(--contrast-color);
}

.slider-btn-prev {
  position: absolute;
  top: 50%;
  left: 10%;
}

.slider-btn-next {
  position: absolute;
  top: 50%;
  right: 10%;
}

.pagination {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 0;
  list-style: none;
}

.circle {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
}

.active-circle {
  background-color: var(--main-color);
}

.sertificates {
  margin: 30px 0;
}

.sertificates-content {
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.sertificate-item {
  display: block;
  flex-grow: 1;
  margin: 10px;
  transition: 0.5s;
}

.sertificate-item:hover {
  background-color: var(--main-color);
  box-shadow: 0 0 15px 2px var(--main-color);
  cursor: pointer;
}

.footer {
  background-color: var(--main-color);
}

.container-footer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.footer-link,
.footer-year {
  font-weight: 700;
  color: var(--contrast-color);
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-logo {
  display: block;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s;
}

.is-open {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  display: flex;
  flex-grow: 1;
  max-width: 930px;
  min-height: 565px;
  position: relative;
  background-color: transparent;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;
  opacity: 0;
}

.is-open > .modal-dialog {
  opacity: 1;
  transform: translateX(0);
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 27px;
  background-color: transparent;
}

@media (max-width: 1350px) {
  .slider-btn {
    display: none;
  }
}

@media (max-width: 1060px) {
  .profile-block {
    flex-basis: 50%;
  }

  .profile-contacts {
    flex-direction: column;
  }

  .skills {
    width: 100%;
    border-right: 0;
    margin-right: 0;
  }

  .summary-info {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 890px) {
  .nav-list {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .header {
    display: none;
  }

  .profile {
    flex-direction: column;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
  }

  .slide {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 360px;
    text-align: center;
  }

  .project-pic,
  .project-description {
    width: 100%;
  }

  .pagination {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .code-example {
    font-size: 12px;
  }
}
